.chat {
    &__form {
        display: flex;
        padding: 9px;
        background-color: #202c33;
    }
    &__input {
        width: 100%;
        border-radius: 9px;
        padding: 9px 12px;
    }
}