@import "~/src/variables.scss";

.chat-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__form {
        display: flex;
        padding: 9px;
        background-color: $bc1;
    }

    &__input {
        width: 100%;
        border-radius: $borderRadius;
        padding: 9px 12px;
    }

    button {
        margin: 0 10px;
    }

    &__messages {
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
        background: linear-gradient(rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9)), url("../../icons/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
        overflow: auto;

        & > :last-child {
            margin: 5px 20px 15px;
        }
    }
}
