.chat-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__form {
        display: flex;
        padding: 9px;
        background-color: #202c33;
    }
    &__input {
        width: 100%;
        border-radius: 9px;
        padding: 9px 12px;
    }
    button {
        margin: 0 10px;
    }
    &__messages {
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        background: linear-gradient(rgba(15, 15, 15, 0.9), rgba(15, 15, 15, 0.9)), url("../../icons/background.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top;
        & > :first-child {
            margin: 5px 20px 15px;
        }
    }
}
