@import '../../variables.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: $bc1;

    &__btn {
        cursor: pointer;
    }
}
