@import "~/src/variables.scss";

.welcome-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__title {
        font-weight: 500;
        font-size: 30px;
        margin-bottom: 20px;
    }

    &__err {
        width: fit-content;
        margin: 0 auto;
        padding: 10px 15px;
        color: #c2a4a4;
        background-color: #4a1c1c;
        border-radius: $borderRadius;
    }

    &__spinner {
        height: 20px;
        width: 20px;
    }
    &__label {
        align-self: start;
        margin-left: 10px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;

        input {
            width: 400px;
            margin: 10px;
            padding: 5px 10px;
            border-radius: $borderRadius;
        }

        button {
            margin-top: 20px;
            padding: 7px 15px;
            background-color: #111b21;
            border-radius: $borderRadius;
            transition: all 0.2s;
            &:hover {
                background-color: #2a3942;
                transition: all 0.2s;
            }
        }
    }
}
