.message {
    display: flex;
    align-self: end;
    height: fit-content;
    width: fit-content;
    max-width: 60%;
    margin: 5px 20px;
    background-color: #005c4b;
    border-radius: 8px;
    
    &-other {
        align-self: start;
        background-color: #202c33;
    }

    &__text {
        padding: 5px 10px;
        font-size: 18px;
    }

    &__time {
        align-self: end;
        padding: 0 8px 4px 0;
        color: #ffffff99;
        font-size: 11px;
    }
}
